.Pagination {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
}

.Active {
  background: #8F5E1E;
  color: white;
}

.CenterPagination {
  text-align: center;
}